body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4b778d;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    color: #f4f9f9 !important;
}

.navbar .navbar-nav .nav-link {
    color: #f4f9f9 !important;
    font-size: 1rem;
    margin-right: 10px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #e4e4e4 !important;
}

.header {
    text-align: center;
    padding: 40px 0;
}

.header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #4b778d;
    object-fit: cover;
}

.header h1 {
    font-size: 2.5rem;
    color: #4b778d;
}

.header h2 {
    font-size: 1.7rem;
    color: #6c757d;
}

.social-buttons {
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-buttons .btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 25px;
    text-transform: uppercase;
}

.section {
    margin-top: 30px;
}

.section h3 {
    font-size: 1.8rem;
    color: #4b778d;
    border-bottom: 2px solid #4b778d;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
